@page
@model myfinance_web_netcore.Views.CriarPlanoConta
@{
    ViewData["Title"] = "CriarPlanoConta";
}

<h1>@ViewData["Title"]</h1>

<!--<form asp-controller="PlanoConta" asp-action="CriarPlanoConta">

  <label for="fname">Descrição::</label><br>
  <input type="text" asp-for = "Descricao"> <br>

  <label for="lname">Tipo:</label><br>
  <input type="text" asp-for="Tipo"><br>

  <button type="submit" class="btn btn-block btn-sucess"> Registrar</button>
  
</form>
-->